	#title
	{
		font-family:sans-serif;
        font-size: 30px;
    }
#add_device
	{
		font-family:sans-serif;
        font-size: 20px;
    }
    #add_dev_form
    {
        margin-top: 70px;
        margin-left:170px;
        margin-bottom: 100px;
        margin-right: 20px;
        height: 700px;
        width:1000px;
        }
 #form
    {
        margin-top: 70px;
        margin-left:170px;
        margin-bottom: 100px;
        margin-right: 20px;
        height: 700px;
        width:1000px;
        }
    .form_right
    {
        
        margin-top: 30px;
        margin-right: 70px;
        height:700px;
        width:400px;
        float:right;
        text-align: left;
    }
    .form_left
    {
        margin-left: 70px;
        margin-top: 30px;
        height:700px;
        width:400px;
        float: left;
        text-align: right;
        
        
    }
    #label_ip
    {
     text-decoration: underline;
     text-decoration-color: blue;    
        
    }
 #count_text
    {
     text-decoration: underline;
     text-decoration-color: blue;    
        
    }
 #count_text_q
    {
     text-decoration: underline;
     text-decoration-color: blue;    
        
    }
 #count_text1
    {
     text-decoration: underline;
     text-decoration-color: blue;    
        
    }
    table
    {
        border-collapse: collapse;

    }
    td,th
    {
        border: 2px solid black;
        padding: 10px;
    }
    #device_table
    { 
        margin-left: 5%;
    } 
#device_table_q
    { 
        margin-left: 5%;
      
         } 
#grp_admin_table
    { 
        overflow: scroll;
        height:400px;
        margin-left: 80px;
        width:430px;
         }
 #device_table1
    {  margin-left: 5%;
        }
 
    #insert
    {
        margin-top: 50px;
        margin-left: 1000px;
        height:50px;
        width:300px;
        font-size: 12px;
    }
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#wrapper {
    width: 100%;
} 

#dataTable_wrapper {
    position: relative;
    clear: both;
}
#errrorBox {
    font-family:sans-serif;
        font-size: 20px;
}
